<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap" rel="stylesheet"> 
        <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
        <title>Fórmula 1</title>
    </head>
    <body>
      <header class="d-flex bg-dark flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a class="d-flex align-items-center col-md-3 mx-2 text-dark text-decoration-none">
          <img src = "../img/F1-logoRed.svg" alt="F1"/>
        </a>
  
        <ul class="nav col-12 col-md-auto me-4 justify-content-center mb-md-0 align-items-center">
          <li><a href="../../index.html" class="btn btn-danger bg-dark nav-link px-2 text-white ">Inicio</a></li>
          <li><a href="./posiciones.html" class="ms-1 btn btn-danger bg-dark nav-link px-2 text-danger">Posiciones</a></li>
          <li><a href="#" class="btn btn-danger bg-dark ms-1 nav-link px-2 text-white">Pilotos</a></li>
          <li><a href="#" class="btn btn-danger bg-dark ms-1 nav-link px-2 text-white">Equipos</a></li>
          <li><a href="#" class="btn btn-danger bg-dark ms-1 nav-link px-2 text-white">Merchandising</a></li>
        </ul>
      </header>
        <main>
            <h1 class="titColor text-center text-white mt-5 pb-3">Actualizar puntos</h1>
            <div class="container-fluid hr bg-dark"></div>
            <br>
            <div class="container-fluid ">
              <div class="input-group d-flex justify-content-evenly">
              <div class="col-3 ms-5 ps-5">
                <select class="form-select text-capitalize text-center" id="pilotos">
                  <option selected disabled>Seleccione un piloto</option>
                </select>
              </div>
              <div class="col-1 text-center h3 ms-5 pe-5">
                <i id="equipo" class="text-capitalize text-white"></i>
              </div>
              <div id="conf"></div>
              <div class="col-2 pe-5">
                <input class="resultado text-center fs-5" type="text" id="cargaPuntos" name="cargaPuntos" placeholder="Puntos a sumar" maxlength="2">
              </div>
              <div class="col-2 pe-5">
                <button id="boton" class="btn-dark css-button-sharp--black btn-sm" data-swal-toast-template='#my-template'>Cargar</button>
              </div>
              
              </div>
            </div>
            <br>
            <div class="container-fluid hr1 bg-dark"></div>
            <br>
            <div class="container-sm input-group width- ms-5">
              <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg></span>
              <input id="buscar" type="search" placeholder="Buscar piloto">
            </div>
            <br>
            <div class="justify-content-center text-center text-capitalize">
                <table class="table table-responsive table-bordered table-dark table-striped table-sm">
                    <thead>
                      <tr>
                        <th scope="col">Pos.</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Escuderia</th>
                        <th scope="col">Puntos</th>
                      </tr>
                    </thead>
                    <tbody id="table">
                    </tbody>
                  </table>
            </div>
        </main>
    </body>
    <template id='my-template'>
      <swal-title id="tostaditaSw">Hey!</swal-title>
    </template>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script src="../js/carga.js"></script>
</html> 